<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formularz książki</title>
</head>
<body>
<form th:action="@{save}" th:method="post" th:object="${ksiazka}">
    <table border="1">
        <tr>
            <th> Tytuł</th><td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <th> Autor</th><td><input type="text" th:field="*{author}"></td>
        </tr>
        <tr>
            <th> Data wydania</th><td><input type="text" th:field="*{releaseDate}"></td>
        </tr>
        <tr>
            <th> Cena</th><td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <th> Typ okładki</th>
            <td>
            <section th:field="*{coverType.id}">
                <option th:each="typ:${typy}" th:value="${typ.id}" th:text="${typ.name}">
                </option>
            </section>
            </td>
        </tr>
    </table>
    <input type="submit" value="Wyslij"></form>
</body>
</html>