<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">

    <title>Konto</title>
</head>
<body>
<div th:replace="share/header"/>

<p th:src="@{../share/header.html}">

    <div class="d-flex justify-content-around">

        <div class="card">
            Moje Dane:
            <div class="card-content">
<p>Nick [[${zalogowany.username}]]</p>
<p>Imie i Nazwisko: [[${zalogowany.First_name}]] [[${zalogowany.Last_name}]]</p>
<p>Adres: [[${zalogowany.address}]] [[${zalogowany.postcode}]]</p>
</div>
</div>
</div>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Data Zamóweinia</th>
        <th>Nazwa</th>
        <th>Typ</th>
        <th>Plec</th>
        <th>Rozmiar</th>
        <th>Koszt</th>
        <th>Status Zamówienia</th>


    </tr>
    </thead>
    <tbody th:each="order:${list}" th:object="${order}">
    <tr>
        <td>[[*{startAt}]]</td>
        <td>[[*{costume.name}]]</td>
        <td>[[*{costume.type.name}]]</td>
        <td>[[*{costume.gender.name}]]</td>
        <td>[[*{costume.size.name_size}]]</td>
        <td>[[*{cost}]]</td>
        <td>[[*{status.name_status}]]</td>

    </tr>
    </tbody>
</table>


</div>
<div th:replace="share/footer :: footer"></div>


</body>
</html>