<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Storna</title>
</head>
<body>
Witaj !!!
<br>
<a href="test.html">test</a>
<a href="test2.html">test2</a><br>
<a href="test3.html">test3</a><br>
<a href="/book/list">Pokaz liste</a><br>
<a href="/book/emptyList">Pokaz liste pusta</a><br>
<a href="/book/showForm?id=1">Szczególy książki</a><br>
<form action="/form.html" method="post">
    <table>
        <tr>
            <th> Imie</th><td><input type="text" name="imie"></td>
        </tr>
        <tr>
            <th> Nazwisko</th><td><input type="text" name="nazwisko"></td>
        </tr>
        <tr>
            <th> Telefon</th><td><input type="text" name="telefon"></td>
        </tr>
    </table>
    <input type="submit" value="Wyslij"></form>
</body>
</html>